
/* BASE FORM STYLES */
body{
    background: #141414;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #0d0d0d;
    padding: 20px;
    text-align: center;
    color:#eee
}

form{
     /* margin: 20px; */
    color: #eee; 
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid  #c1c1c1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;

}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}
/* Gender */
/* RADIO BOX STYLES */
input[type="radio"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="male"], label[for="female"]{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -32px;
    line-height: 24px;
    cursor: pointer;
} 

input:checked + label[for="male"],
input:checked + label[for="female"]{
    background-position: 0 0;
    color: #ce1010;
    transition:all .3s ease-out;
}

/* Interests */
/* CHECKBOX STYLES */
input[type="checkbox"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="web"], 
label[for="photoshop"],
label[for = "shuriken"]{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -98px;
    line-height: 24px;
    cursor: pointer;
}

input:checked + label[for="web"],
input:checked + label[for="photoshop"],
input:checked + label[for="shuriken"]
{
    background-position: 0 -65px;
    color: #ce1010;
    transition:all .3s ease-out;
}

/* TEXT INPUT STYLES & FIELDSETS */

fieldset{
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #222;
}

legend{
    padding: 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
}
input[type="email"], 
input[type="tel"]{
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 50px;
    border: 0;
    border-radius: 4px;
    background: url(img/inputs.png) no-repeat;
    background-color: #222;
    font-size: 16px;
    color: #fff;
    float: left;
    clear: both;
}

input[type="email"]{
    background-position: 7px 8px;
}

input[type="tel"]{
    background-position: 7px -58px;
}

fieldset input{
    outline: none;
}

/* SELECT BOXES */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    -ms-appeareance: none;
    appearance: none;

    display: block;
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background: url(img/select.png) no-repeat 95% center;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #fff;
    width: 280px;
    font-size: 16px;
}

input[type="submit"]{
    background: #b61111;
    padding: 15px;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    border: 0;
    box-shadow: 1px 3px 5px rbga(0,0,0,0.5);
    width: 280px;
}


/* INPUT VALIDATION STYLES */

input[type="email"]:valid,
input[type="tel"]:valid{
    border: 2px solid #fff;
}

input[type="email"]:valid{
    background-position: 7px -22px;
}

input[type="tel"]:valid{
    background-position: 7px -97px;
}


input[type="email"]:valid + .tick,
input[type="tel"]:valid + .tick{
    background: url(img/tick.png) center;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
    float: left;
}

input[type="email"]:invalid,
input[type="tel"]:invalid{
    border: 1px solid red;
}