
/* BASE FORM STYLES */
body{
    background: #141414;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #0d0d0d;
    padding: 20px;
    text-align: center;
    color:#eee
}

form{
     /* margin: 20px; */
    color: #eee; 
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid  #c1c1c1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;

}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}
/* Gender */
/* RADIO BOX STYLES */
input[type="radio"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="male"], label[for="female"]{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -32px;
    line-height: 24px;
    cursor: pointer;
} 

input:checked + label[for="male"],
input:checked + label[for="female"]{
    background-position: 0 0;
    color: #ce1010;
    transition:all .3s ease-out;
}

/* Interests */
/* CHECKBOX STYLES */
input[type="checkbox"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="web"], 
label[for="photoshop"],
label[for = "shuriken"]{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -98px;
    line-height: 24px;
    cursor: pointer;
}

input:checked + label[for="web"],
input:checked + label[for="photoshop"],
input:checked + label[for="shuriken"]
{
    background-position: 0 -65px;
    color: #ce1010;
    transition:all .3s ease-out;
}

/* TEXT INPUT STYLES & FIELDSETS */

fieldset{
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #222;
}

legend{
    padding: 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
}
input[type="email"], 
input[type="tel"]{
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 50px;
    border: 0;
    border-radius: 4px;
    background: url(img/inputs.png) no-repeat;
    background-color: #222;
    font-size: 16px;
    color: #fff;
    float: left;
    clear: both;
}

input[type="email"]{
    background-position: 7px 8px;
}

input[type="tel"]{
    background-position: 7px -58px;
}

fieldset input{
    outline: none;
}

/* SELECT BOXES */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    -ms-appeareance: none;
    appearance: none;

    display: block;
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background: url(img/select.png) no-repeat 95% center;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #fff;
    width: 280px;
    font-size: 16px;
}

input[type="submit"]{
    background: #b61111;
    padding: 15px;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    border: 0;
    box-shadow: 1px 3px 5px rbga(0,0,0,0.5);
    width: 280px;
    cursor: pointer;
}


/* INPUT VALIDATION STYLES */

input[type="email"]:valid,
input[type="tel"]:valid{
    border: 2px solid #fff;
}

input[type="email"]:valid{
    background-position: 7px -22px;
}

input[type="tel"]:valid{
    background-position: 7px -97px;
}


input[type="email"]:valid + .tick,
input[type="tel"]:valid + .tick{
    background: url(img/tick.png) center;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
    float: left;
}

input[type="email"]:invalid,
input[type="tel"]:invalid{
    border: 1px solid red;
}


/* ***************** */
/* modal styles */
/* ***************** */

.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.8);
    text-align: center;
    display: none;
    
}

.modal-content{
    background: #f0e4d4; 
    margin: 0 auto;
    padding: 30px;
    width: 600px;
    position: relative;
    /* animation-name: modalopen;
    animation-duration: 0.5s; */
    animation: modalopen 0.3s ease forwards;
}

.close-animation{
    animation: modalclose 0.3s ease forwards;
}

.modal-content input{
    padding: 10px;
    border: 0;
    border-radius: 10px 0 0 10px;
    border: 1px solid #333;
    font-size: 18px;
    outline: none;
}

.modal-content button{
    padding: 10px;
    border: 0;
    color: red;
    background: #333;
    margin-left: -5px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #333;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.modal-content .cross{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #555;
    color: #ddd;
    font-weight: bold;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 11px;
    cursor: pointer;
}

@keyframes modalopen {
    from {
      transform: translateY(-600px);
    }

    to {
     transform: translateY(200px)
    }

} 

@keyframes modalclose {
        from {
          transform: translateY(200px);
        }
    
        to {
         transform: translateY(-600px)
        }
}