
/* BASE FORM STYLES */
body{
    background: #141414;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #0d0d0d;
    padding: 20px;
    text-align: center;
    color:#eee
}

form{
    margin: 20px;
    color: #eee;
}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}
/* Gender */
/* RADIO BOX STYLES */
input[type="radio"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="male"], label[for="female"]{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -32px;
    line-height: 24px;
    cursor: pointer;
} 

input:checked + label[for="male"],
input:checked + label[for="female"]{
    background-position: 0 0;
    color: #ce1010;
    transition:all .3s ease-out;
}

/* Interests */
/* CHECKBOX STYLES */
input[type="checkbox"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="web"], 
label[for="photoshop"],
label[for = "shuriken"]{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/checks.png) no-repeat;
    background-position: 0 -98px;
    line-height: 24px;
    cursor: pointer;
}

input:checked + label[for="web"],
input:checked + label[for="photoshop"],
input:checked + label[for="shuriken"]
{
    background-position: 0 -65px;
    color: #ce1010;
    transition:all .3s ease-out;
}

/* TEXT INPUT STYLES & FIELDSETS */


/* SELECT BOXES */


/* INPUT VALIDATION STYLES */